<form action="/loginsignup/signup" class="form_loginsignup" method="POST">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" placeholder="Enter name" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="adress">Adress:</label>
        <input type="text" class="form-control" placeholder="Enter adress" id="adress" name="adress">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" id="password" name="password">
    </div>
    <div class="form-group">
        <label for="repassword">Repassword:</label>
        <input type="password" class="form-control" placeholder="Enter repassword" id="repassword" name="repassword">
    </div>
    <button type="submit" class="btn btn-primary">Đăng kí</button>
</form>